*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: tomato;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

/* Header */
header {
    padding: 1rem;
    color: white;
}

/* Main content */
main {
    background-color: white;
    border-radius: 5px;
    padding: 2rem 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

/* Footer */
footer {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}

/* Utility classes */

.container {
    max-width: 1100px;
    margin: 0 auto;
}